.cli-window {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
    overflow: hidden;
    background-color: #222222;
    
    div[name="react-console-emulator"] {
        flex: 1;
        min-height: 0;
        background-color: transparent !important;
    }
}
